.svg-inline--fa
{
  margin:auto 0;
}

.wrapper
{
  display: flex;
}

#left_part
{
  flex-grow: 2;
  display: grid;
  grid-template-columns: 30px auto 30px;
  background-color: rgb(162, 218, 235);
}

#middle_part
{
  flex-grow: 5;
  background-color: rgb(114, 232, 154);
}

#right_part
{
  flex-grow: 3;
}

#title
{
  background-color: rgb(242, 107, 117);
}

#list_of_tasks
{
  display: grid;
  grid-template-columns: 30px auto;
  background-color: rgb(246, 174, 34);
}

#top_part
{
  display:grid;
  grid-template-columns:40px auto;
  background-color:rgb(169, 110, 229);
}

.information
{
  display:grid;
  grid-template-columns:30px auto;
  margin: 10px 10px 0 10px;
  background-color:rgb(162, 255, 112);
}

#right_part
{
  background-color:rgb(255, 238, 112);
}
