.wrapper
{
  display: flex;
}

#left_part
{
  flex-grow: 2;
  display: flex;
}

#middle_part
{
  flex-grow: 5;
}

#right_part
{
  flex-grow: 3;
}

#browse{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


#your_photo
{
  background-color: : green;
  flex-basis: 19px;
}
